<header class="header flex align-center space-between">
  <img src="assets/images/logo.png" alt="logo" class="logo" />
  <div class="header-entries flex">
    <a href="#">Customer machines</a>
    <a href="#">Standard machines</a>
    <a href="#">Documentation</a>
    <a href="#">Orders</a>
    <a href="#">news</a>
  </div>

  <nav class="flex align-center">
    <i class="icon icon-snr-admin-20 x-large flex align-center"></i>
    <i class="icon icon-snr-user-20 x-large flex align-center"></i>
    <i class="icon icon-snr-basket-20 x-large flex align-center"></i>
  </nav>
</header>
