<div class="background-img flex">
  <div class="card flex column">
    <h2 class="card-title">FLASH NEWS</h2>
    <div class="flex arrow">
      <div class="icon-snr-arrow-left-20 size-icon arrow-left-color"></div>
      <div class="icon-snr-arrow-right-20 x-large"></div>
    </div>
    <div class="align-center flex">
      <button class="button">Here just hidden text</button>
      <p class="font-color x-large">Shangai</p>
    </div>
    <div class="card-date">01.11.2018</div>
    <p class="card-text" innerHtml="{{ text | addLine }}"></p>
    <div class="align-center flex">
      <div class="icon-color icon-snr-document-20 margin-right x-large"></div>
      <button>Hidden</button>
      <p class="text-size">Shangai</p>
    </div>
  </div>
</div>
